h1 {
	color:yellow;
	font-size: 40px;
}
p {
	color:blue;
}
h2 {
	color:yellow;
}
h3 {
	color:orange;
}
header ul {
	text-decoration: none;
	list-style: none;
}
header ul li {
	display: inline;
	padding: 20px;
	color:grey;

}
header ul li a {
	text-decoration: none;
	color:yellow;
	font-size: 25px;
	margin-right: 50px;
	text-align: justify;
	margin-left: 50px;
}
header {
	background: blue;
}
 
body h2 br {
	color: green;
}
body img {
	display: block;
	text-align: auto;
	margin:auto;
}